// FOOTER
footer.text-white.bg-dark.text-center.text-lg-start
  .container.p-4
    .row
      .col-lg-6.col-md-12.mb-4.mb-md-0
        .row.d-flex.justify-content-center
          .col-5
            img.img-fluid(src='/public/images/logo/logo_IFMS.jpeg')
          .col-2
            img.img-fluid(src='/public/images/logo/logo_UFMS.png')
          .col-5
            img.img-fluid(src='/public/images/logo/logo_NEABI.png')
      .col-lg-3.col-md-6.mb-4.mb-md-0
        h5.text-uppercase
          b SIGA-NOS
        ul.list-unstyled.mb-0
          li
            a.text-white(href='https://www.youtube.com/channel/UCB0tg0Uz9xwyYEI7yElHwOw') Youtube
          li
            a.text-white(href='https://www.instagram.com/negritudeemdebatems/') Instagram
          li
            a.text-white(href='https://www.facebook.com/negritudeemdebatems/') Facebook
      .col-lg-3.col-md-6.mb-4.mb-md-0
        h5.text-uppercase
          b CONTACTE-NOS
        p
          a.text-white(href='mailto:negritudeemdebate@gmail.com') negritudeemdebate@gmail.com
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    p.m-0.text-center.text-white
      | 2021 - Federal Institure of Mato Grosso do Sul (IFMS) || Vinicius Eduardo Carvalho da Cruz de Moura