#projectsPage.container
    .row
        .col-12
            .row
                .col-sm-12.col-md-12.col-lg-12.col-xl-12
                    .row
                        .col-sm-12.col-md-12.col-lg-3.col-xl-3
                            h2.fs-2.font-weight-bold.text-center Negritude em Debate
                            p.fs-6 O projeto “Negritude em Debate MS” (Cpaq/UFMS – Neabi/IFMS/CG) tem objetivo contribuir para reflexão, para valorização da cultura negra no Mato Grosso do Sul, assim como, contribuir para o desenvolvimento da temática "História da África e Cultura Afro-brasileira" nas escolas da rede básica de ensino, nos Institutos Federais do Mato Grosso do Sul (IFMS) e na Universidade Federal do Mato Grosso do Sul (UFMS). Para isso, elaborar material audiovisual para ser trabalhado nas instituições públicas (rede básica de ensino, IFMS e UFMS); Dialogar com os professores por meio de oficinas/cursos/palestras e outras atividades que estejam ligadas ao tema da raça e do gênero. Dentre elas, a mostra fotográfica intitulada “Beleza Negra Resiste”, oficina de pintura orgânica e Oficina pedagógica. O foco do material audiovisual é de trabalhar com as Comunidades Quilombolas de Mato Grosso do Sul, entre elas, Comunidade Negra Rural Quilombola da Furna dos Baianos (Aquidauana/MS), a Comunidade Remanescente de Quilombos Tia Eva (CG) e a Furnas do Dionísio (CG).
                        .col-sm-12.col-md-12.col-lg-8.col-xl-8
                            iframe.h-100.w-100(src='https://www.youtube.com/embed/B16z2gs6Fn8')
            .row
                h1.display-4.text-center 
                    | Acompanhe algumas ações do
                    br
                    b
                        | Negritude em Debate    
                .col-sm-12.col-md-12.col-lg-12.col-xl-12
                    .row
                        .col-sm-12.col-md-12.col-lg-8.col-xl-8
                            iframe.h-100.w-100(src='https://www.youtube.com/embed/SBe5tBAVY_Y')
                        .col-sm-12.col-md-12.col-lg-3.col-xl-3
                            h2.fs-2.font-weight-bold.text-center Mostra Fotográfica Beleza Negra Resiste 2020
                            p.fs-6 O projeto tem como objetivo visibilizar corporeidades outras que se apresentam fora do padrão estético europeu, como a beleza, a cultura e a ancestralidade negra existentes no Mato Grosso do Sul e que foram historicamente apagadas. Permitindo com isso que esses sujeitos sociais, negras e negros, se auto identifiquem e consigam romper com as estruturas colônias e racistas que persistem ainda no século XXI.
                    .row
                        .col-sm-12.col-md-12.col-lg-3.col-xl-3
                            h2.fs-2.font-weight-bold.text-center Palestras, oficinas e capacitação antirracista
                            p.fs-6 Como um dos direcionamentos do projeto é o diálogo com/na comunidade escolar, além das atividades externas à escola, como a Mostra fotográfica e o documentário, nossa equipe também se disponibiliza para dialogar diretamente com alunos e/ou professores e coordenadores por meio de palestras, oficinas e capacitações voltadas para educação antirracista.
                        .col-sm-12.col-md-12.col-lg-8.col-xl-8
                            iframe.h-100.w-100(src='https://www.youtube.com/embed/GrmVEbrWBic')
            .row
                .col-sm-12.col-md-6.col-lg-4.col-xl-4.p-0
                    img.img-fluid.card-img-top(src='/public/images/projects/projectImg1.jpg')
                .col-sm-12.col-md-6.col-lg-4.col-xl-4.p-0
                    img.img-fluid.card-img-top(src='/public/images/projects/projectImg2.jpg')
                .col-sm-12.col-md-6.col-lg-4.col-xl-4.p-0
                    img.img-fluid.card-img-top(src='/public/images/projects/projectImg3.jpg')
            .row
                .col-sm-12.col-md-12.col-lg-8.col-xl-8.p-0
                    img.img-fluid.card-img-top(src='/public/images/projects/projectImg4.jpg')
                .col-sm-12.col-md-12.col-lg-3.col-xl-3
                    h2.fs-2.font-weight-bold.text-center Mostra Fotográfica Beleza Negra Resiste 2020
                    p.fs-5 O projeto tem como objetivo visibilizar corporeidades outras que se apresentam fora do padrão estético europeu, como a beleza, a cultura e a ancestralidade negra existentes no Mato Grosso do Sul e que foram historicamente apagadas. Permitindo com isso que esses sujeitos sociais, negras e negros, se auto identifiquem e consigam romper com as estruturas colônias e racistas que persistem ainda no século XXI.
                    
                    
                    //.card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top(src='/uploads/1.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Example Title
                            p.card-text Example Text