#teamPage.container
    .row
        .col-12
            .row.p-3.my-3
                h1.display-4.text-center 
                    | Conheça nossa 
                    b
                        | equipe 
                .col-sm-12.col-md-6.col-lg-4.col-xl-4
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/fabio.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Fábio Luiz Faria da Silva
                            table.table.table-dark.table-striped.card-text
                                p.fs-6 
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/ana-paula.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Ana Paula Archanjo Batarce
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/cafola.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Diego Aparecido Cafola
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/thamires.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Thamires
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/francisco.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Francisco Givanildo dos Santos
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/unknow.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Alessandro Riquelme
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/unknow.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Jussara
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/roberto.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Roberto
                            table.table.table-dark.table-striped.card-text
                                p.fs-6
                .col-sm-12.col-md-6.col-lg-4.col-xl-4    
                    .card.mb-3.text-white.bg-dark
                        img.img-fluid.card-img-top.rounded-circle(src='/public/images/team/unknow.jpg')
                        .card-body.p-0
                            h2.card-title.font-weight-bold.text-center Sabrina
                            table.table.table-dark.table-striped.card-text
                                p.fs-6